@inherits LayoutComponentBase

<head>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
   
     <title></title>
</head>
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
       <svg style="display: none;">
               <symbol id="film" viewBox="-26 0 436 436.336">
                   <g>
                       <path
                           d="m313.34375 284.304688h37.671875c4.417969 0 8-3.582032 8-8v-40.261719c0-4.417969-3.582031-8-8-8h-37.671875c-4.417969 0-8 3.582031-8 8v40.261719c0 4.417968 3.582031 8 8 8zm8-40.261719h21.671875v24.261719h-21.671875zm0 0" />
                       <path
                           d="m25.414062 84.015625v40.261719c0 4.417968 3.582032 8 8 8h37.671876c4.417968 0 8-3.582032 8-8v-40.261719c0-4.417969-3.582032-8-8-8h-37.671876c-4.417968 0-8 3.582031-8 8zm16 8h21.671876v24.261719h-21.671876zm0 0" />
                       <path
                           d="m313.34375 208.289062h37.671875c4.417969 0 8-3.582031 8-8v-40.257812c0-4.417969-3.582031-8-8-8h-37.671875c-4.417969 0-8 3.582031-8 8v40.257812c0 4.417969 3.582031 8 8 8zm8-40.257812h21.671875v24.257812h-21.671875zm0 0" />
                       <path
                           d="m33.414062 0h-25.246093c-4.417969 0-8 3.582031-8 8v420.335938c0 4.417968 3.582031 8 8 8h25.246093c4.421876 0 8-3.582032 8-8v-32.261719h21.671876v32.261719c0 4.417968 3.578124 8 8 8h242.257812c4.417969 0 8-3.582032 8-8v-32.261719h21.671875v32.261719c0 4.417968 3.582031 8 8 8h25.253906c4.417969 0 8-3.582032 8-8v-420.335938c0-4.417969-3.582031-8-8-8h-25.253906c-4.417969 0-8 3.582031-8 8v32.261719h-21.671875v-32.261719c0-4.417969-3.582031-8-8-8h-242.253906c-4.421875 0-8 3.582031-8 8v32.261719h-21.675782v-32.261719c0-4.417969-3.578124-8-8-8zm70.761719 420.335938v-176.070313h176.078125v176.070313zm176.078125-404.335938v176.070312h-176.074218v-176.070312zm-209.164062 40.261719c4.417968 0 8-3.582031 8-8v-32.261719h9.089844v184.070312c0 4.421876 3.582031 8 8 8h192.074218c4.417969 0 8-3.578124 8-8v-184.070312h9.089844v32.261719c0 4.417969 3.582031 8 8 8h37.671875c4.417969 0 8-3.582031 8-8v-32.261719h9.253906v404.335938h-9.253906v-32.261719c0-4.417969-3.582031-8-8-8h-37.671875c-4.417969 0-8 3.582031-8 8v32.261719h-9.089844v-184.070313c0-4.417969-3.582031-8-8-8h-192.074218c-4.417969 0-8 3.582031-8 8v184.070313h-9.089844v-32.261719c0-4.417969-3.582032-8-8-8h-37.675782c-4.417968 0-8 3.582031-8 8v32.261719h-9.246093v-404.335938h9.246093v32.261719c0 4.417969 3.582032 8 8 8zm0 0" />
                       <path
                           d="m71.089844 304.058594h-37.675782c-4.417968 0-8 3.582031-8 8v40.261718c0 4.417969 3.582032 8 8 8h37.671876c4.417968 0 8-3.582031 8-8v-40.261718c0-4.414063-3.582032-7.996094-7.996094-8zm-8 40.261718h-21.675782v-24.261718h21.671876zm0 0" />
                       <path
                           d="m313.34375 132.277344h37.671875c4.417969 0 8-3.582032 8-8v-40.261719c0-4.417969-3.582031-8-8-8h-37.671875c-4.417969 0-8 3.582031-8 8v40.261719c0 4.417968 3.582031 8 8 8zm8-40.261719h21.671875v24.261719h-21.671875zm0 0" />
                       <path
                           d="m313.34375 360.320312h37.671875c4.417969 0 8-3.582031 8-8v-40.261718c0-4.417969-3.582031-8-8-8h-37.671875c-4.417969 0-8 3.582031-8 8v40.261718c0 4.417969 3.582031 8 8 8zm8-40.261718h21.671875v24.261718h-21.671875zm0 0" />
                       <path
                           d="m71.089844 228.042969h-37.675782c-4.417968 0-8 3.582031-8 8v40.261719c0 4.417968 3.582032 8 8 8h37.671876c4.417968 0 8-3.582032 8-8v-40.261719c0-4.414063-3.582032-7.996094-7.996094-8zm-8 40.261719h-21.675782v-24.261719h21.671876zm0 0" />
                       <path
                           d="m71.089844 152.03125h-37.675782c-4.417968 0-8 3.582031-8 8v40.257812c0 4.417969 3.582032 8 8 8h37.671876c4.417968 0 8-3.582031 8-8v-40.257812c0-4.414062-3.582032-7.996094-7.996094-8zm-8 40.257812h-21.675782v-24.257812h21.671876zm0 0" />
                   </g>
               </symbol>
               <symbol id="TV-Shows" viewBox="0 0 128 128">
                   <g>
                       <path
                           d="m121.5 4.75h-115a1.749 1.749 0 0 0 -1.75 1.75v87.833a1.749 1.749 0 0 0 1.75 1.75h46.37v14.667h-3.776a10.762 10.762 0 0 0 -10.75 10.75 1.749 1.749 0 0 0 1.75 1.75h47.812a1.749 1.749 0 0 0 1.75-1.75 10.762 10.762 0 0 0 -10.75-10.75h-3.776v-14.667h46.37a1.749 1.749 0 0 0 1.75-1.75v-87.833a1.749 1.749 0 0 0 -1.75-1.75zm-1.75 3.5v69.5h-111.5v-69.5zm-33.808 111.5h-43.884a7.261 7.261 0 0 1 7.036-5.5h29.812a7.261 7.261 0 0 1 7.036 5.5zm-14.312-9h-15.26v-14.667h15.26zm1.779-18.167c-.01 0-.019 0-.029 0s-.019 0-.029 0h-18.7c-.01 0-.019 0-.029 0s-.019 0-.029 0h-46.343v-11.333h111.5v11.333z" />
                       <path
                           d="m115.5 41.583a1.749 1.749 0 0 0 1.75-1.75v-14.333a1.75 1.75 0 0 0 -3.5 0v14.333a1.749 1.749 0 0 0 1.75 1.75z" />
                       <path d="m70 85.167h-12a1.75 1.75 0 0 0 0 3.5h12a1.75 1.75 0 0 0 0-3.5z" />
                   </g>
               </symbol>
               <symbol id="logo" viewBox="0 0 192 192">
                   <g>
                       <path
                           d="m192 96c0-53.019531-42.980469-96-96-96s-96 42.980469-96 96 42.980469 96 96 96h96v-16h-43c26.839844-17.769531 42.988281-47.808594 43-80zm-48.976562 64.722656c-10.722657 7.789063-25.734376 5.414063-33.523438-5.3125-7.789062-10.722656-5.414062-25.730468 5.308594-33.523437 10.726562-7.789063 25.734375-5.414063 33.523437 5.3125 7.792969 10.722656 5.414063 25.730469-5.308593 33.523437zm-1.179688-104.851562c12.605469-4.097656 26.144531 2.800781 30.242188 15.40625 4.09375 12.609375-2.804688 26.148437-15.410157 30.242187-12.605469 4.097657-26.144531-2.800781-30.242187-15.40625-4.09375-12.605469 2.804687-26.148437 15.410156-30.242187zm-45.84375-39.871094c13.253906 0 24 10.746094 24 24s-10.746094 24-24 24-24-10.746094-24-24 10.746094-24 24-24zm-76.085938 55.277344c4.097657-12.605469 17.636719-19.503906 30.242188-15.410156 12.605469 4.097656 19.503906 17.636718 15.410156 30.242187-4.097656 12.605469-17.636718 19.503906-30.242187 15.410156s-19.503907-17.632812-15.410157-30.242187zm62.585938 84.132812c-7.789062 10.726563-22.800781 13.101563-33.523438 5.3125-10.722656-7.792968-13.101562-22.800781-5.308593-33.523437 7.789062-10.722657 22.800781-13.101563 33.523437-5.308594 10.722656 7.789063 13.097656 22.796875 5.308594 33.519531zm5.5-59.410156c0-4.417969 3.582031-8 8-8s8 3.582031 8 8-3.582031 8-8 8-8-3.582031-8-8zm0 0" />
                   </g>
               </symbol>
           </svg>
           <div class="container-lighttheme">
               <!-- Header -->
               <header class="container">
                   <div class="header__content">
                       <a href="" class="header__logo navbar-brand">
                           <svg class="logo-icon">
                               <use xlink:href='#logo'></use>
                           </svg>
                           IMDB</a>
                       <nav>
                           <ul>
                               <li><a href="" class="refs">Главная</a></li>
                               <li><a href="" class="refs">
                                       <svg class="icon">
                                           <use xlink:href='#TV-Shows'></use>
                                       </svg>
                                       Сериалы</a></li>
                               <li> <a href="" class="refs">
                                       <svg class="icon">
                                           <use xlink:href='#film'></use>
                                       </svg>
                                       Фильмы</a></li>
                               <li> <a href="" class="refs genre">Жанры
                                       <i class="fas fa-chevron-down"></i>
                                   </a>
                                   <ul>
                                       <li> <a href="">Комедия</a></li>
                                       <li><a href="">Боевик</a></li>
                                       <li><a href="">Ужастик</a></li>
                                       <li><a href="">Приключения</a></li>
                                       <li><a href="">Драма</a></li>
                                       <li><a href="">Детектив</a></li>
                                       <li><a href="">Фэнтези</a></li>
                                   </ul>
                               </li>
                           </ul>
                       </nav>
                       <form>
                           <input type="text" class="header__search" placeholder="Поиск">
       
                       </form>
                       <div class="toggle">
                           <i class="fas fa-moon toggle-icon"></i>
                           <i class="fas fa-sun toggle-icon"></i>
       
                           <div class="toggle-ball"></div>
       
                       </div>
                   </div>
               </header>
</div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>